@font-face {
  font-family: "TT Lakes";
  src: url("/font/TTLakes-Regular.eot");
  src: local("@"),
    url("/font/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("/font/TTLakes-Regular.woff") format("woff"),
    url("/font/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/font/TTLakes-Bold.eot");
  src: local("@"),
    url("/font/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("/font/TTLakes-Bold.woff") format("woff"),
    url("/font/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/font/TTLakes-Medium.eot");
  src: local("@"),
    url("/font/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("/font/TTLakes-Medium.woff") format("woff"),
    url("/font/TTLakes-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html, body, div, span, a, img, dl, dt, h1, h2, h3, h4, h5, h6,
dd, ol, ul, li, article, aside, footer, header, nav {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, footer, header, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "TT Lakes";
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: #f8f8f8;
  color: #1b1c21;
}

.hidden {
  display: none;
}
/*-----Шапка-----*/

.menu {
  background-color: white;
  border-bottom: 1px solid #d9fff5;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__ic-box {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: #ff3e79;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__ic-box:hover {
  cursor: pointer;
}

.ic-menu {
  margin-left: 1em;
}

.ic-with-text__text {
  display: none;
}

.menu__important {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  width: 12em;
}

.menu__order {
  display: flex;
  align-items: center;
  padding-left: 2.2em;
}

.menu__order::before {
  content: "";
  display: inline-block;
  position: relative;
  height: 32px;
  right: 1.4em;
  border-left: 2px solid #eaeaea;
  border-radius: 1px;
}

.menu__message {
  display: none;
}

@media (min-width: 720px) {
  body {
    font-size: 16px;
  }

  .menu__message {
    display: flex;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .menu {
    visibility: hidden;
    height: 0;
  }

  .menu__order {
    visibility: visible;
    position: relative;
    top: 3.2em;
  }

  .ic-with-text {
    display: flex;
    align-items: center;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .ic-with-text__text {
    display: inline;
  }


  .menu__label-for-btn:hover {
    cursor: pointer;
  }

  .menu__ic-box {
    margin-left: 8px;
  }

  .menu__order::before {
    border: none;
  }
}

/*-----Основное содержание-----*/

.main {
  display: flex;
  flex-direction: column;
}

.title {
  display: block;
  line-height: 40px;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
  letter-spacing: -0.6px;
}

.title::before {
  content: " ";
  float: left;
  margin-right: 0.8em;
  height: 40px;
  border-right: 3px solid #41f6d7;
  border-radius: 2px;
}

.slide-menu {
  box-sizing: border-box;
}

.slide-menu__list {
  height: 60px;
  margin-left: 1em;
  display: flex;
  overflow-x: scroll;
}

.slide-menu__list::-webkit-scrollbar {
  background-color: #f8f8f8;
}

.slide-menu__list-item {
  white-space: nowrap;
}

.slide-menu__text {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  padding: 8px 1em;
}

.slide-menu__text:hover {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.container {
  max-width: 1120px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  height: 85px;
  overflow: hidden;
  margin-left: 1.2em;
  margin-right: 1.2em;
  letter-spacing: 0.2px;
  text-align: justify;
}

.about-button__btn {
  border: none;
  background-color: transparent;
  font-family: "TT Lakes";
  font-weight: 300;
  font-size: 1.1em;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.about-button__btn:hover {
  cursor: pointer;
}

.about-button {
  align-self: flex-start;
  margin-left: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.about-button::before {
  content: "";
  background: url(/img/main/about__button.svg) no-repeat center;
  padding-left: 1em;
}

.about-picture-container {
  display: flex;
  justify-content: center;
  margin: 2em;
  margin-top: 0.8em;
  min-height: 160px;
  width: 100%;
}

.about__picture {
  object-fit: contain;
}

@media (min-width: 720px) {
  .about {
    flex-direction: row;
  }

  .about-text {
    height: 120px;
  }

  .about__picture {
    height: 20vmax;
    max-height: 250px;
    border-radius: 6px;
  }
}

@media (min-width: 1024px) {
  .container {
    align-self: center;
  }

  .about-text {
    height: 180px;
  }
}
