@font-face {
  font-family: "TT Lakes";
  src: url("/font/TTLakes-Regular.eot");
  src: local("@"),
    url("/font/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("/font/TTLakes-Regular.woff") format("woff"),
    url("/font/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/font/TTLakes-Bold.eot");
  src: local("@"),
    url("/font/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("/font/TTLakes-Bold.woff") format("woff"),
    url("/font/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/font/TTLakes-Medium.eot");
  src: local("@"),
    url("/font/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("/font/TTLakes-Medium.woff") format("woff"),
    url("/font/TTLakes-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html, body, div, span, a, img, dl, dt, h1, h2, h3, h4, h5, h6, p,
dd, ol, ul, li, article, aside, footer, header, nav {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, footer, header, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: "TT Lakes";
  font-size: inherit;
}

body {
  font-family: "TT Lakes";
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: #f8f8f8;
  color: #1b1c21;
}

.hidden {
  display: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.max-height-for-block {
  height: auto !important;
}

/*-----Шапка-----*/

.menu {
  background-color: white;
  border-bottom: 1px solid #d9fff5;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo-container {
  flex-grow: 1;
}

.menu__logo {
  width: 97px;
  height: 51px;
}

.menu__first-ic {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.menu__ic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.menu__ic-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__ic:hover {
  cursor: pointer;
}

.menu__ic-text {
  display: none;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.menu__order {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 1em;
}

.menu__order::before {
  content: "";
  display: inline-block;
  position: relative;
  height: 32px;
  right: 0.4em;
  border-left: 2px solid #eaeaea;
  border-radius: 1px;
}

.menu__message {
  display: none;
}

.title-container {
  margin-top: 1em;
  margin-bottom: 0.8em;
}

.title {
  line-height: 40px;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -0.6px;
}

.title::before {
  content: " ";
  margin-right: 0.8em;
  height: 40px;
  border-right: 3px solid #41f6d7;
  border-radius: 2px;
}

@media (min-width: 720px) {
  body {
    font-size: 16px;
    line-height: 19px;
  }

  .menu__message {
    display: flex;
    gap: 1em;
    margin-right: 1.8em;
  }
}

@media (min-width: 1120px) {
  body {
    font-size: 16px;
    line-height: 20px;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menu {
    background-color: transparent;
    border: none;
  }

  .menu__first-ic, .menu__logo-container,
  .menu__message {
    display: none;
  }

  .menu__ic-text {
    display: inline;
  }

  .menu__order::before {
    border: none;
  }
}

/*-----Основное содержание-----*/

.main {
  display: flex;
  flex-direction: column;
}

.slide-menu {
  box-sizing: border-box;
}

.slide-menu__list {
  margin-left: 1em;
  display: flex;
  overflow-x: scroll;
}

.slide-menu__list::-webkit-scrollbar {
  background-color: #f8f8f8;
}

.slide-menu__list-item {
  white-space: nowrap;
}

.slide-menu__link {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  padding: 8px 1em;
  border: 2px solid transparent;
}

.slide-menu__link:hover {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

/*-----Секция "О компании"-----*/

.about {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  height: 85px;
  overflow: hidden;
  letter-spacing: 0.2px;
  text-align: justify;
}

.button-read-more {
  display: flex;
  gap: 0.8em;
  border: none;
  background-color: transparent;
  font-family: "TT Lakes";
  font-weight: 300;
  font-size: 1.1em;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.button-read-more:hover {
  cursor: pointer;
}

.button-read-more .img-rotate {
  transform: rotate(180deg);
}

.about__picture-container {
  display: flex;
  justify-content: center;
  margin: 1.6em;
  width: 100%;
}

.about__picture {
  object-fit: contain;
}

/*-----Секция "Ремонтируемые бренды"-----*/

.brands-title-container {
  height: 80px;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.brands-title {
  padding: 1.2em;
}

.section-title {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #7E7E82;
  letter-spacing: -0.2px;
}

.brands-list {
  display: flex;
  gap: 1.2em;
  padding: 1.2em;
  padding-bottom: 2.5em;
}

.swiper .swiper-slide {
  width: auto;
}

.brands-item__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 82px;
  background-color: white;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  padding: 16px;
}

.brands-item__button {
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 20px;
}

span.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #B5B6BC;
}

.brands__button {
  display: none;
  padding: 0.8em 0 1em 1.2em;
}


@media (min-width: 720px) {
  .about {
    flex-direction: row;
  }

  .about__content {
    margin-right: 0;
    margin-left: 1.6em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  .about__text {
    height: 125px;
  }

  .about__picture-container {
    margin-top: 1em;
    height: 208px;
  }

  .about__picture {
    border-radius: 6px;
  }

  div.swiper-slide {
    height: 82px;
  }

  div.brands-list {
    padding: 1.2em 0;
    justify-content:space-around;
    flex-wrap: wrap;
  }

  div.swiper {
    height: 210px;
  }

  .brands__button {
    display: block;
  }
}

@media (min-width: 1120px) {
  .title-container {
    margin-top: 1.8em;
    margin-bottom: 1.2em;
  }

  .slide-menu__list {
    flex-wrap: wrap;
    overflow:hidden;
  }

  .about__content {
    margin-top: 3em;
  }

  .about__text {
    height: auto;
  }

  .about__picture-container {
    margin-right: 0;
    margin-left: 2em;
    height: 280px;
  }

  div.swiper {
    height: auto;
  }
}
